<div class="btn-group ">
<input type="button" class=" icon-check btn btn-primary check_all" value="Check All">
<input type="button" class="btn btn-primary uncheck_all" value="Uncheck All">
</div>
<%= submit_tag "Delete selected", method: :delete, type: "submit", data: { confirm: "Are you sure?" }, class: "btn btn-danger delete_selected" %>

